@using MvcKutuphaneProjesi.Models.Entity
@model List<TBLYAZAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr >
        <th>Yazar ID</th>
        <th>Yazar AD</th>
        <th>Yazar SOYAD</th>
        <th>Yazar DETAY</th>
        <th>Yazar Sil</th>
        <th>Yazar Güncelle</th>
    </tr>
    @foreach (var y in Model)
    {
        <tr>
            <td>@y.yazar_id</td>
            <td>@y.yazar_ad</td>
            <td>@y.yazar_soyad</td>
            <td>@y.yazar_detay</td>
            <td>@Html.ActionLink("Sil","YazarSil",new { id = y.yazar_id },new { @class ="btn btn-danger",onclick="return confirm('Silmek İstiyormusunuz?')"})</td>
            <td><a href="/Yazar/YazarGetir/@y.yazar_id" class="btn btn-success">Güncelle</a></td>

        </tr>
    }
    

</table>
<a href="/Yazar/YazarEkle/" class="btn btn-warning">Yeni Yazar Ekle</a>
